* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


#field {
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
}

#field > div {
    width: 80px;
    height: 80px;
    border: 1px solid #000;
    cursor: pointer;
}

.overlay {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
}