* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #C4FFF9;
}

header {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1, span {
    font-size: 3rem;
    margin-right: 10px;
}

main {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


#field {
    max-width: 700px;
    display: flex;
    flex-wrap: wrap;
}

#field > div {
    width: 70px;
    height: 70px;
    background: #68D8D6;
    box-shadow: inset 1px 1px 1px #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#field > div:hover {
    background: #9CEAEF;
}

#field > div.shown {
    background: #07BEB8;
}

#field > div.shown > img {
    width: 50px;
}

.overlay {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    text-shadow: 1px 1px 1px #000;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.overlay h1 {
        font-size: 8rem;
}

.overlay p {
    font-size: 3rem;
}